build/
*.o
*.dylib
linux/x86loader
linux/trace.log
.DS_Store
analyze/
.pytest_cache/
*.o
*.a
.vscode/
.idea/
cmake-build-debug/
__pycache__/
*.pyc
tests/linux/assets/
tests/linux/rootfs/
tests/linux/build_podman/
tests/linux/test_futex
tests/linux/test_mutex
tests/linux/test_pthread
test_futex.asm
bin/
obj/
*.log
*.trace/
