build/
.build/
*.o
*.dylib
linux/x86loader
linux/trace.log
.DS_Store
analyze/
.pytest_cache/
*.o
*.a
.vscode/
.idea/
.fiberpod/
cmake-build-debug/
__pycache__/
*.pyc
tests/linux/assets/
tests/linux/rootfs/
tests/linux/build_podman/
tests/linux/test_futex
tests/linux/test_mutex
tests/linux/test_pthread
bin/
obj/
*.log
*.pdb
.swiftpm/
*.trace/
benchmark/coremark/
.cache/
artifacts/
*.profraw
ia32_test
tests/test_safe_access
Fiberish.X86/build_native
*.DotSettings.user
tests/alpine-rootfs/
tests/openssl/rootfs/
tests/openssl/build_podman/
*.xcuserstate
xcuserdata/
